@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f7f8;
}
footer {
  position: fixed;
  bottom: 0;
}
#cart-items {
  max-height: 300px; /* Defina a altura máxima desejada */
  overflow-y: auto; /* Adicione rolagem vertical quando necessário */
}
footer {
  margin-top: 20px;
}

#cart-modal .bg-white {
  max-height: 90vh; /* Aumente a altura máxima para dar mais espaço */
  overflow-y: auto; /* Adicione rolagem vertical quando necessário */
  display: flex; /* Use display flex para permitir que o conteúdo cresça conforme necessário */
  flex-direction: column; /* Alinhe o conteúdo na vertical */
  padding: 20px; /* Adicione um preenchimento interno para espaçamento entre os itens e as bordas */
}









